@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  font-family: "Montserrat", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.8;
  font-weight: 500;

  // color-scheme: light dark;
  color: rgba(32, 32, 32, 0.87);
  // background-color: #fafafa;
  @apply bg-blue-100;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  @apply max-w-6xl mx-auto;
}

h2 {
  @apply font-semibold text-3xl my-3 border-l-4 pl-4 border-blue-600;
}

h3 {
  @apply font-semibold text-2xl my-1;
}

h4 {
  @apply font-semibold text-xl my-1;
}

h5 {
  @apply font-semibold text-lg my-1;
}
